.container {
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 16px;
}

.signUpForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headerText {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

label {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 18.75px;
  size: 16px;
  margin-top: 24px;
}

input {
  position: relative;
  width: 99%;
  height: 18px;
  padding: 6px 0 6px 4px;
  margin: 16px 0 16px 0;
}

button {
  align-self: flex-end;
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: 111px;
  height: 32px;
  color: white;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 912px) {
  .container {
    width: 80vw;
    height: 40vh;
  }
}
