.containerMain {
  display: flex;
  justify-content: center;
}

.containerLimitWidth {
  width: 800px;
  background-color: white;
}

.containerArrow {
  display: flex;
  justify-content: end;
  width: 95%;
}
