.containerEditPost {
  width: 100%;

  padding: 24px;
}

.containerInputs {
  padding: 24px 0 24px 0;
}

.headerText {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

label {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 18.75px;
  size: 16px;
  margin-top: 24px;
}

input {
  position: relative;
  width: 99%;
  height: 18px;
  padding: 6px 0 6px 0;
  margin: 10px 0 10px 0;
}

.inputContainer {
  position: relative;
}

#content {
  width: 99%;
  height: 40px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  resize: none;
  margin: 10px 0 10px 0;
}

button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 8px;
  width: 120px;
  height: 32px;
}

.footerEdit {
  display: flex;
  justify-content: flex-end;
}

.cancelButton {
  background: #ffffff;
  color: #000000;
}

.saveButton {
  background: #47b960;
  margin-left: 16px;
}
