nav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #7695ec;
  padding: 24px;
}

p {
  margin: 0;
}
